@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@theme{
 --font-noto: "Noto Sans Mono", serif;   
}
.bg-customBlue {
    background-color: #081028;
  }
  .bg-secondDark{
      background-color:#37446B;
  }
  .text-color-dd{color:#AEB9E1;}